MergeTest/.vs/MergeTest/v15/Server/sqlite3/storage.ide-wal
MergeTest/.vs/MergeTest/v15/Server/sqlite3/storage.ide-shm
MergeTest/.vs/MergeTest/v15/Server/sqlite3/storage.ide
MergeTest/.vs/MergeTest/v15/Server/sqlite3/db.lock
MergeTest/.vs/MergeTest/v15/.suo
